<.header>
  Edit Link <%= @link.id %>
  <:subtitle>Use this form to manage shortened links.</:subtitle>
</.header>

<.link_form changeset={@changeset} action={~p"/links/#{@link}"} />

<.back navigate={~p"/links"}>Back to links</.back>
