<.header>
  New Link
  <:subtitle>Use this form to manage shortened links.</:subtitle>
</.header>

<.link_form changeset={@changeset} action={~p"/links"} />

<.back navigate={~p"/stats"}>Back to all links</.back>
